<app-links></app-links>
<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" />
    </div>
    <div>
        <label for="newPassword">New password</label>
        <input id="newPassword" formControlName="newPassword" />
    </div>  
    <div>
        <label for="repeatPassword">Repeat new password</label>
        <input id="repeatPassword" formControlName="repeatPassword" />
    </div>
    <div>
        <button type="submit">Change</button>
        <button type="button" (click)="onCancel()">Cancel</button>
    </div>  
</form>
