<app-links></app-links>
<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div>
        <label for="currentPassword">Password</label>
        <br/>
        <input type="password" id="currentPassword" formControlName="currentPassword" />
    </div>
    <div>
        <label for="newPassword">New password</label>
        <br/>
        <input type="password" id="newPassword" formControlName="newPassword" />
    </div>  
    <div>
        <label for="confirmedPassword">Confirm password</label>
        <br/>
        <input type="password" id="confirmedPassword" formControlName="confirmedPassword" />
    </div>
    <div>
        <button type="submit">Change</button>
        <button type="button" (click)="onCancel()">Cancel</button>
        <br>
        <p>{{this.error$|async}}</p>
    </div>  
</form>
